.id-form {
  display: flex;
  flex-direction: column;
  background-color: rgb(78, 78, 78);
  height: inherit;
  width: 260px;
  margin-top: 120px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  color: rgb(0, 255, 65);
  font-family: 'VT323', monospace;
  box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}

.id-form div {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 3px;
}

.numbers {
  width: 25px;
}
